<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <!-- 保证中文不乱码-->
        <link rel='stylesheet' type='text/css' href='part1.css' />
        <title class='title.s1'>果蔬专栏</title>
    </head>
    <body>
        <div id="container">
            <div class="content">
                <a href ='fruit.html' target="_blank">水果</a></br>
                <a href ='vagetable.html' target="_blank">蔬菜</a></br>
                <a href ='search.html' target="_blank">查找</a>    
            </div>

        </div>
    
    </body>
</html>