<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <!-- 保证中文不乱码-->
        <title class='title.s1'>水果</title>
    </head>
    <body>
        <div id="container">
            <div class="content">
                <a href ='https://baike.baidu.com/item/苹果/5670?fr=aladdin'><img src="../photo/apple5.jpg" alt='苹果'/></a>&nbsp;&nbsp;&nbsp;
                <a href ='https://baike.baidu.com/item/橘子/71287?fr=aladdin'><img src="../photo/orange5.jpg" alt='橘子'/></a>&nbsp;&nbsp;&nbsp;
                <a href ='https://baike.baidu.com/item/梨子/3090542?fr=aladdin'><img src="../photo/pear5.jpeg" alt='梨子'/></a>&nbsp;&nbsp;&nbsp;
                <a href ='https://baike.baidu.com/item/香蕉/150475?fr=aladdin'><img src="../photo/bananer5.jpg" alt='香蕉'/></a>    
            </div>

        </div>
    
    </body>
</html>