<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <!-- 保证中文不乱码-->
        <title class='title.s1'>水果</title>
    </head>
    <body>
        <div id="container">
            <div class="content">
                <a href ='https://baike.baidu.com/item/菠菜/575262?fr=aladdin'><img src="../photo/spinach2.jpg" alt='菠菜'/></a>&nbsp;&nbsp;&nbsp;
                <a href ='https://baike.baidu.com/item/胡萝卜/351711?fr=aladdin'><img src="../photo/carrot2.jpg" alt='胡萝卜'/></a>&nbsp;&nbsp;&nbsp;
                <a href ='https://baike.baidu.com/item/西蓝花/401535?fromtitle=%E8%A5%BF%E5%85%B0%E8%8A%B1&fromid=1178471&fr=aladdin'><img src="../photo/broccoli2.jpg" alt='西兰花'/></a>&nbsp;&nbsp;&nbsp;
                <a href ='https://baike.baidu.com/item/豌豆/822636?fr=aladdin'><img src="../photo/peas_1.jpg" alt='豌豆'/></a>    
            </div>

        </div>
    
    </body>
</html>