<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <!-- 保证中文不乱码-->
        <link rel='stylesheet' type='text/css' href='Hpage.css' />
        <title class='title.s1'>果蔬食客</title>
    </head>
    <body>
        <div id='header' class="center">
        </div>
        <h1>欢迎来到果蔬食客</h1>
        <h2>一起养生鸭!</h2>
        <div id="container">
            <p class="content">
                <a class='optional' href ='userload.html' target="_blank">用户登录</a>&nbsp;&nbsp;&nbsp;
                <a href ='introduction/dp.html' target="_blank">水果蔬菜营养价值分析</a>&nbsp;&nbsp;&nbsp;
                <a href ='setting/dp.html' target="_blank">设置</a>&nbsp;&nbsp;&nbsp;
                <a href ='more/dp.html' target="_blank">更多</a>&nbsp;&nbsp;&nbsp;    
            </p>
            <div>
        
            </div>

        </div>
    
    </body>
</html>